@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: var(--bt-c-text-secundary);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(49, 71, 103, 0.17);
    border-radius: .4rem
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    overflow-y: hidden;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;

  }
}
